---
import { type CollectionEntry } from "astro:content";
import SpellSchool from "./SpellSchool.astro";
import SpellRange from "./SpellRange.astro";
import SpellComponents from "./SpellComponents.astro";
import SpellMaterialComponent from "./SpellMaterialComponent.astro";
import SpellDuration from "./SpellDuration.astro";
import SpellDescription from "./SpellDescription/SpellDescription.astro";
import { Icon } from "astro-icon/components";

interface Props {
  spell: CollectionEntry<"spells">["data"]["spell"][0];
}
const { spell } = Astro.props;
const numberWordArray = [
  "zero",
  "one",
  "two",
  "three",
  "four",
  "five",
  "six",
  "seven",
  "eight",
  "nine",
];
const actionColorMap = {
  action: "var(--maroon)",
  bonus: "var(--yellow)",
  reaction: "var(--blue)",
  unknown: "var(--mauve)",
};

const isContaminated = spell.contaminated ?? false;
const actionColor =
  actionColorMap[spell.time[0]?.unit] ?? actionColorMap["unknown"];
---

<div
  class:list={[
    "spell-card",
    numberWordArray[spell.level],
    isContaminated ? "contaminated" : "",
  ]}
  style={`--action-color: ${actionColor};`}
>
  <div class="name">
    <span>{spell.name}</span>
    {spell.meta?.ritual ? <Icon name="pentagram" /> : null}
  </div>
  <SpellSchool class="school" school={spell.school} />
  <SpellDuration class="duration" durationList={spell.duration} />
  <SpellRange class="range" range={spell.range} />
  <SpellComponents class="components" components={spell.components} />
  {
    spell.components?.m ? (
      <SpellMaterialComponent
        class="cost"
        materialComponents={spell.components.m}
      />
    ) : null
  }
  <SpellDescription
    class="description"
    entryList={spell.entries}
    entriesHigherLevelList={spell.entriesHigherLevel}
    isContaminated={isContaminated}
  />
</div>

<style>
  .spell-card {
    --action-color: var(--teal);
    --min-size: var(--size-32);
    --border-radius: var(--size-8);

    position: relative;
    display: grid;
    grid-template-areas:
      "duration name range"
      "description description description"
      "components cost school";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: var(--size-8);
    border: var(--size-4) solid
      color-mix(in oklch, var(--action-color), transparent 20%);
    border-radius: var(--border-radius);
    padding: var(--size-8);

    &.contaminated {
      background: linear-gradient(125deg, var(--mauve) 20%, var(--teal));
      background-clip: text;
      color: transparent;

      [data-icon] {
        color: var(--text-color);
      }
    }

    .duration {
      grid-area: duration;
    }

    .name {
      grid-area: name;
      display: flex;
      gap: var(--size-8);
      justify-content: center;
      align-items: center;
      text-align: center;

      [data-icon] {
        color: var(--teal);
        --icon-size: var(--size-32);

        width: var(--icon-size);
        height: var(--icon-size);
        padding-bottom: var(--size-8);
      }
    }
    .range {
      grid-area: range;
    }
    .description {
      grid-area: description;
      font-size: var(--font-size-14);
    }
    .components {
      grid-area: components;
    }
    .cost {
      grid-area: cost;
    }
    .school {
      grid-area: school;
    }

    .duration,
    .name,
    .range,
    .description,
    .components,
    .cost {
      min-width: var(--min-size);
      min-height: var(--min-size);
    }

    &::before {
      content: "20";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      color: color-mix(in hsl, var(--action-color), transparent 80%);
      font-size: var(--size-256);
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &.zero {
      &::before {
        content: "0";
      }
    }
    &.one {
      &::before {
        content: "1";
      }
    }
    &.two {
      &::before {
        content: "2";
      }
    }
    &.three {
      &::before {
        content: "3";
      }
    }
    &.four {
      &::before {
        content: "4";
      }
    }
    &.five {
      &::before {
        content: "5";
      }
    }
    &.six {
      &::before {
        content: "6";
      }
    }
    &.seven {
      &::before {
        content: "7";
      }
    }
    &.eight {
      &::before {
        content: "8";
      }
    }
    &.nine {
      &::before {
        content: "9";
      }
    }
  }
</style>
